

<input type="checkbox" name="" id="sideMenu_Toggle">

<%- include('common/sideMenu'); -%>

<!-- ===================main content============= -->
<div class="main_content">
 
  
  <%- include('common/header'); -%>

    <main>

        <div class="page_header">
            <div>
                <h1><%= title %></h1><br/>
                <!-- <small>Welcome ayt store. check reporting and review insights</small> -->
            </div>
        </div>     
        
        <hr class="line">

        <div class="form_section">
            <form class="row g-3 needs-validation" action="/addBank" method="POST" enctype="multipart/form-data"  novalidate> <!--enctype="multipart/form-data"-->

                <% if(messages.error) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h4 class="alert-heading">Something went wrong !</h4>
                        <hr>
                        <p class="mb-0"><%= messages.error %></p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>   

                <% if(messages.success) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <h4 class="alert-heading">Success !</h4>
                        <hr>
                        <p class="mb-0"><%= messages.success %></p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %> 

                <div class="col-md-4">
                    <label for="validationCustom001" class="form-label">Bank Code<span>*</span></label>
                    <input type="text" class="form-control input_field" name="bank_code" id="validationCustom001"  required>
                    <div class="invalid-feedback">
                        Please provide a Bank Code.
                    </div>
                </div>   

                <div class="col-md-4">
                    <label for="validationCustom02" class="form-label">Bank Name<span>*</span></label>
                    <input type="text" class="form-control input_field" name="bank_name" id="validationCustom02"  required>
                    <div class="invalid-feedback">
                        Please provide a Bank Name.
                    </div>
                </div>   

                <div class="col-md-4">
                    <label for="validationCustom03" class="form-label">Bank R.O Address<span>*</span></label>
                    <input type="text" class="form-control input_field" name="bank_RO_address" id="validationCustom03"  required>
                    <div class="invalid-feedback">
                        Please provide a Bank R.O Address.
                    </div>
                </div>  

                <div class="col-md-4">
                    <label for="validationCustom04" class="form-label">Bank R.O DGM<span>*</span></label>
                    <input type="text" class="form-control input_field" name="bank_RO_DGM" id="validationCustom04"  required>
                    <div class="invalid-feedback">
                        Please provide a Bank R.O DGM.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="validationCustom05" class="form-label">Bank R.O Number<span>*</span></label>
                    <!-- <input type="number" min="10" max="10" class="form-control input_field" name="bank_RO_number" id="validationCustom05"  required> -->
                    <input type="text" pattern="[0-9]{10}" class="form-control input_field" name="bank_RO_number" id="validationCustom05"  required>
                    <div class="invalid-feedback">
                        Please provide a  10 digit Bank R.O Number.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="validationCustom06" class="form-label">Attachment file</label>
                    <input type="file" class="form-control input_field" name="attachment_file" id="validationCustom06"  >
                    <!-- <div class="invalid-feedback">
                        Please provide a file.
                    </div> -->
                </div>

                <div class="col-md-4">
                    <label for="validationCustom07" class="form-label">Remarks<span>*</span></label>
                    <input type="text" class="form-control input_field" name="remarks" id="validationCustom07"  required>
                    <div class="invalid-feedback">
                        Please provide a file.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="validationCustom08" class="form-label">Status <span>*</span></label>
                    <select class="form-select input_field" id="validationCustom08" name="status"  required>
                        <option value="">Choose...</option>
                        <option value="Active" selected>Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a status.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="validationCustom09" class="form-label">Create By<span>*</span></label>
                    <input type="text" class="form-control input_field" name="create_by" value="<%= userName %> - <%= userType %>" id="validationCustom09"  required readonly>
                    <div class="invalid-feedback">
                        Please provide a create By.
                    </div>
                </div>


                <br>

                <div class="col-12 text-center mt-4 form_btn">
                <button class="btn btn-sm btn-primary submit_btn" type="submit">Submit form</button> &nbsp;
                <a href="/allBanks" class="btn btn-sm btn-dark submit_btn">Back</a>
                </div>
                <br/><br/><br/>
            </form>
        </div>    




    </main>
</div>

 

<script>
    $(document).ready(function(){
        $("#allBank").addClass('active');
    })

    const uploadImg = document.querySelector('.uploadImg_div');
    function getImagePath(event){
      console.log(event);
      var file = URL.createObjectURL(event.target.files[0]);
      console.log(file);
      uploadImg.innerHTML = "<img src='"+file+"'>";
   }
</script>
